@tailwind base;
@tailwind components;
@tailwind utilities;

.side-scroll::-webkit-scrollbar {
    width: 5px; 
}
  
.side-scroll::-webkit-scrollbar-track {
    background: transparent; 
}

.side-scroll::-webkit-scrollbar-thumb {
    background: #242E48;
    border-radius: 8px;
}
